.logos{
    height:30px;
    width: 30px;
    border: none;
    float:right;
  }
.styles{
    margin-bottom: auto;
}
.wrapper{
    align-items: center;
    display: flex;
    width:30px;
    align-items: left;
    flex-direction: column;
    flex:3;
}

.sidebar_icons{
    margin-bottom: 13px;
    height:60px;
    width: 60px;
    border: none;
    align-items: center;
    
}